<component name="ArtifactManager">
  <artifact type="war" name="springMVC_jsp:war">
    <output-path>$PROJECT_DIR$/springMVC_jsp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>springMVC_jsp</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="springMVC_jsp-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVC_jsp:war exploded" />
    </root>
  </artifact>
</component>